<html>
<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</head>

<body>

  <div class="page-header" style="background: linear-gradient(to right,  #F0E68C 40%,#FFE4B5 60%); 
    height: 25% ">
   <img src="http://localhost:5000/static/people_photo/fni.png">     
  </div>
<div>
    <br>
    <br>
    <div>
        <a href="http://localhost:5000/employee_d">
          <img src="http://localhost:5000/static/people_photo/employee.jpg" hspace="20" width="270">
          </a>
      <a href="http://localhost:5000/register">  <img src="http://localhost:5000/static/people_photo/register.png" hspace="20" width="250">
      </a>
      <a href="http://localhost:5000/register_list">
      <img src="http://localhost:5000/static/people_photo/training.png" hspace="20" width="270">
      </a>
      <a href="http://localhost:5000/attendence">
     <img src="http://localhost:5000/static/people_photo/attendence.jpg" hspace="20" width="270" style="padding: 20px">
     </a>
    </div>
     <br>
     <br>

     <video height="450" width="900" controls autoplay>
        <source src="http://localhost:5000/static/people_photo/fcrecg.mp4" type="video/mp4">
        </video>

   
  </div>
  <script>
    $(function(){

$("a").click(function(){
  $(this).after("<img src='http://localhost:5000/static/people_photo/loader.gif' alt='loading' />").fadeIn();  
});

});
    </script>
</body>
</html>