<html>
<head>


 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>



</head>
<head>
  <style type="text/css">
    .bgimage {
/* background-image: url("../img/pink.jpg");*/
 background-color: #FFC0CB;
}
.bgimage1 {
 background-image: url("/img/fni.jpg");
 /*background-color: #FFB6C1;*/
}
.bgimage2 {
/* background-image: url("../img/pink.jpg");*/
 background-color: #FF1493;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 12px;
  text-align: left;
}

  </style>
</head>
<body>



    {% include "header.html" %}

  <center><h1>successfully trained</h1></center>
  </font>
  <center>
  <form action = "http://localhost:5000/home" id="fomain">
    <input type="submit" name="R_button" id="btn1" value="home">  
  </form>
</center>
   </body>
</html>
